In [1]:
# Dependencies
import requests
from pprint import pprint
import pandas as pd

In [2]:
wardHHIncome = pd.read_csv("Resources/Ward_HH_Income.csv").set_index("WardNumber")
wardHHIncome.head()

            MedianHHIncome
WardNumber
1                    60352
2                    64543
3                    81839
4                    78617
5                    80076

In [5]:
def ward_data(latitude, longitude):
    ward_url = f"https://represent.opennorth.ca/boundaries/?contains={latitude},{longitude}"
    to_wards = requests.get(ward_url).json()
    ward_data = [[f"Ward {to_wards['objects'][i]['external_id']}",to_wards["objects"][i]["name"],wardHHIncome.loc[int(to_wards['objects'][i]['external_id'])]["MedianHHIncome"]] for i in range(len(to_wards["objects"])) if (to_wards["objects"][i]["boundary_set_name"] == "Toronto ward") if (to_wards["objects"][i]["related"]["boundary_set_url"] == "/boundary-sets/toronto-wards-2010/")]
    print(f"Ward number: {ward_data[0][0]} | Ward name: {ward_data[0][1]} | Median HH Income: {ward_data[0][2]}" )
    return ward_data

In [6]:
warddata=ward_data(43.7564392,-79.3607712)

Ward number: Ward 25 | Ward name: Don Valley West (25) | Median HH Income: 98418